body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.edit-page {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #6b4fbb;
  top: 0;
  left: calc(50% - 75px);
  width: 150px;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  
  a#edit-page-link {
    color: #fff;
    text-decoration: none;
  }
}

.content {
  padding: 1rem;
  text-align: left;
}

table {
	width: 100%;
}
thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
thead th:empty {
	border: none;
}
td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn-primary {
	background-color: #26374a!important;
	border-color: #26374a!important;
}
.text-primary {
	color: #26374a!important;
}
.bg-primary, .badge-primary {
	background-color: #26374a!important;
}
