<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="content">
      <h1><%= current_page.data.title || "Middleman" %></h1>
      <%# only show the sitemap pages if this is the index page %>
      <% if current_page.source_file.end_with?("source/index.html.md") %>
        <table>
          <tr><th>English</th><th>French</th></tr>
          <%# Loop over the sitemap pages %>
          <% sitemap.resources.select{|resource| resource.data.title}.each do |resource| %>
            <%# Find the English pages, and use the 'translation' value in their frontmatter to look up the French page's title and path. %>
            <% if resource.path.start_with?("en/") %>
              <tr>
                <td>
                  <%# English link. Note `resource` in the second argument below %>
                  <%= link_to resource.data.title, resource %>
                </td>
                <% translation = resource.data.translation %>
                <% resourceFR = sitemap.find_resource_by_path("fr/" + translation.rpartition('.').first) %>
                <%# French link %>
                <td><%= link_to resourceFR.data.title, resourceFR %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
      <%= yield %>
    </div>
    <div class="edit-page">
      <%# "Edit this page" button %>
      <% if current_page.source_file.end_with?("source/index.html.md") %>
        <%= link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link') %>
      <% elsif current_page.path.include?("en/") %>
        <%= link_to('Edit this page', edit_page_url(data.config.repositoryEn, current_page.file_descriptor.relative_path).sub(/%2Fsource%2Fen/, ''), id: 'edit-page-link') %>
      <% elsif current_page.path.include?("fr/") %>
        <%= link_to('Edit this page', edit_page_url(data.config.repositoryFr, current_page.file_descriptor.relative_path).sub(/%2Fsource%2Ffr/, ''), id: 'edit-page-link') %>
      <% end %>
    </div>
  </body>
</html>
